mixin video(item)
    a(href=`/videos/${item.id}`) #{item.title}
    br
    span #{item.summary} summarize
    br
    small #{item.views}/5
    br
    small #{item.createdDate}
    //- small #{item.createdDate.year} #{item.createdDate.month} #{item.createdDate.day}, #{item.createdDate.hour}:#{item.createdDate.minute}:#{item.createdDate.second} 
    hr
