extends ../layout

block content
  if errorMessage 
    h2 Please Upload Again
    h3 ERROR | #{errorMessage} 

  form(method="POST")
    label(for="video") Video Uploader
    input(name="video", placeholder="put your video", type="file", id="video")
    //- required넣기
    input(name="title", value=video.title,placeholder="Title of Video",type="text",required )
    input(name="summary", value=video.summary, placeholder="Video Summary",type="text", required )
    input(name="hashtags",value=video.hashtags, placeholder="hashtags: divided by comma",type="text",required)
    input(name="genres", value=video.genres,placeholder="Genres: divided by comma",type="text",required)
    input(value="upload",type="submit")