extends ../layout


block content
  h3 #{video.title}
  p #{video.summary}
  video(src=`/${video.fileUrl}`,controls,width=400,height=400)
   ul
    each genre in video.genres 
     li=genre
   ul
    each tag in video.hashtags 
      li=tag   
  br
  small Creator | #{String(video.owner.username)} / #{String(video.owner.nickname)}
  br
  small #{video.views}/5
  br
  small #{video.createdDate}
  hr
  if loggeduser._id  === String(video.owner.id)
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;
  //-  comment