extends ../layout
include ../mixins/video

block content
  h3 #{video.title}
  p #{video.summary}
   ul
    each genre in video.genres 
     li=genre
   ul
    each tag in video.hashtags 
      li=tag   
  br
  small #{video.views}/5
  br
  small #{video.createdDate}
  hr
  a(href=`${video.id}/edit`) Edit Video &rarr;
  br
  a(href=`${video.id}/delete`) Delete Video &rarr;
//-  comment