extends ../layout
include ../mixins/video
block content
  //- div 
  //-   img(src=`/${user.avatarUrl}`,width=200,height=200)
  //- nav  
  //-   ul  
  //-     li=user.username 
  //-     li=user.nickname 
  //-     hr -//

  div.profile__data
    if loggeduser.avatarUrl === ""
       span 
          i.fas.fa-smile.fa-5x
    else  
       img(src=user.avatarUrl).avatar
    span#profile__name #{user.username}
    span#profile__nickname #{user.nickname}
    a#edit__profile__link(href=`/users/${user._id}/edit`) ✨ Edit your Profile ✨
  div.video-grid
    each video in user.videos 
      +video(video)
    else
      span.empty__message Don't Have Any Video
      br
      span
      a.empty__message#uploading__link(href="/videos/upload") Try Uploading now 🎬
  hr
  span#comment-grid__title My Comments
  div.comment-grid
    each comment in user.comments   
      span=comment.text
        a(href=`/videos/${String(comment.videos)}`) &rarr; See this Video
    else  
      span.empty__message Don't have Any Comment

      